@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 100px;
    font-family: 'Roboto Condensed';
}

header a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 25px;
}

header a img{
  height: 55px;
}


.Home{
    display: flex;
    width: 100%;

}

.home_section{
    display: flex;
     width: 50%;
     height: calc(100vh - 110px);
    
     justify-content: center;
     align-items: center;
     transition: all 1s;
     background-color: #ED1D24;

 }

 .home_section:hover{
   background-color: black;
 }
 
 .containerLink{
   display: flex;
   width: 210px;
   height: 100px;
   border: 1px solid #ED1D24;
   justify-content: center;
   align-items: center;
   background-color: black;
   border-radius: 7%;
   transition: all 1.5s;
  
 }

 .containerLink:hover{

   background-color: #ED1D24;
   border-radius: none;
   border:1px solid black;
   -webkit-box-shadow: -3px -2px 15px 9px rgba(237,29,36,0.84); 
   box-shadow: -3px -2px 15px 9px rgba(237,29,36,0.84);

 }
 .containerLink a{

   text-decoration: none;
   font-family:'Roboto Condensed', sans-serif;
   font-weight: 700;
   font-size: 30px;
    color: #f4f4f4;

 }
