@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}


header{
    display: flex!important;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 100px;
}

header a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin: 20px;
}

header a img{
  height: 55px;
}


/*  section bar*/
  .searchBar{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;

  }

  #barsearch{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 40%;
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: -3px -2px 15px 9px rgba(237,29,36,0.84); 
   box-shadow: -3px -2px 15px 9px rgba(237,29,36,0.84);
   transition: all 1s;
   font-weight: 500;
   font-size: 24px;
   font-family:'Roboto Condensed', sans-serif;
  }
  
   #barsearch:hover{

    -webkit-box-shadow: -3px -2px 15px 9px rgba(27, 14, 209, 0.84); 
    box-shadow: -3px -2px 15px 9px rgba(27, 14, 209, 0.84);

   }
  

   main{
  background-color: black;
}

.card-m{ 
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 25px;
  background-color:#ed1d2496;
  border-radius: 10px;
  transition: all 1s;
}

.card-m:hover{
  -webkit-box-shadow: -3px -2px 15px 9px rgba(27, 14, 209, 0.84); 
  box-shadow: -3px -2px 15px 9px rgba(27, 14, 209, 0.84);
  transform: scale(1.2);

}




#btn-description{
  color:#fff;
  font: 400;
  font-size: 20px;
font-family:'Roboto Condensed', sans-serif;
}


 img.img-thumbnail {
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    
  }

  

  .modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(79, 69, 168, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .modal_comic{
    width: 40%;
    height: 50%;
    background: rgb(211, 255, 205);
    border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 1s;
    transform: translateY(-200%);

  }

  .modal-close{
 transform: translateY(-200%); 



  }